
h2 {
    color: green;
    text-decoration: underline;
}
h3 {
    color: gray;
}

table tr:first-child {
    background: lightgrey;
}
table td{
    border: 1px solid;
}

em {
    text-decoration: underline;
}

.comparing-section {
    background-color: #ffebb7;
}

.comparing-section ul,
.comparing-section ol{
    background-color: #bca985;
    border: 1px solid #e9d6a1;
}

.cleaning-section {
    background-color: #beffc1;
}

.cleaning-section ul,
.cleaning-section ol{
    background-color: #8cc38d;
    border: 1px solid #a9e9ac;
}